<div class="flex-container mb-5">
    <section class="s1 parallax">
        <div>
            <img src="../../../../../assets/img/Group 2.png" alt="">
        </div>
        <div class="text-white w100">
            <h1 class="title-1">
                Create a message to share <br>with your friends.
            </h1>
            <p style="font-size: x-large;">
                Create your first message following the first step:
            </p>
        </div>
        <div class="flex-container text-white my-1">
            <div class="w25 px-1">
                <img src="../../../../../assets/img/Connected world-pana 1.png" alt="">
            </div>
            <div class="w75 py-2 px-1">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet nihil voluptatum placeat explicabo, provident fugit quaerat aliquid facilis dicta similique nisi ducimus commodi itaque, natus maiores, dignissimos ut rem veritatis.</p>
            </div>
        </div>
        <div class="flex-container text-white my-1">
            <div class="w25 px-1">
                <img src="../../../../../assets/img/Fashion blogging-pana 2.png" alt="">
            </div>
            <div class="w75 py-2 px-1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum sapiente eius architecto, officiis omnis distinctio officia Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet nihil voluptatum placeat explicabo, provident fugit
                    quaerat aliquid facilis dicta similique nisi ducimus commodi itaques.</p>
            </div>
        </div>
        <div class="flex-container text-white my-1">
            <div>
                <button class="btn-yellow" (click)="redirectToSignUp()">Sing Up</button>
            </div>
            <div>
                <button class="btn-dark" (click)="redirectToLognIn()">Logn In</button>
            </div>
        </div>
    </section>

    <section class="s2 parallax">
        <div class="dot">
            <img src="../../../../../assets/mobile/Samsung Galaxy S20 5G-3.png" class="mt-2">
        </div>
    </section>
</div>
<br>
<br>
<div class="flex-container mt-5 text-right ">
    <section class="w50 parallax">
        <div class="dot2">
            <img src="../../../../../assets/mobile/Samsung Galaxy S20 5G.png" class="mt-2 mr-5">
        </div>
    </section>
    <section class="w50 parallax">
        <div class="text-white w100">
            <h1 class="title-1">
                Create a message to share <br>with your friends.
            </h1>
            <p style="font-size: x-large;">
                Create your first message following the first step:
            </p>
        </div>
        <div class="flex-container text-white my-1">
            <div class="w75 py-2 px-1">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet nihil voluptatum placeat explicabo, provident fugit quaerat aliquid facilis dicta similique nisi ducimus commodi itaque, natus maiores, dignissimos ut rem veritatis.</p>
            </div>
            <div class="w25 px-1">
                <img src="../../../../../assets/img/Connected world-pana 1.png" alt="">
            </div>
        </div>
        <div class="flex-container text-white my-1">
            <div class="w75 py-2 px-1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum sapiente eius architecto, officiis omnis distinctio officia Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet nihil voluptatum placeat explicabo, provident fugit
                    quaerat aliquid facilis dicta similique nisi ducimus commodi itaques.</p>
            </div>
            <div class="w25 px-1">
                <img src="../../../../../assets/img/Fashion blogging-pana 1.png" alt="">
            </div>
        </div>
        <div class="flex-container text-white my-1 flex-container-buttom">
            <div>
                <button class="btn-yellow" (click)="redirectToSignUp()">Sing Up</button>
            </div>
            <div>
                <button class="btn-dark" (click)="redirectToLognIn()">Logn In</button>
            </div>
        </div>
    </section>
</div>

<div>
    <section class="w100 mt-5">
        <div class="dot3 mt-5">
            <div class="card-qr">
                <div>
                    <img src="../../../../../assets/icon/pngwing 1.png" alt="">
                </div>
                <div class="ml-5">
                    <h2>
                        Scan to download <br> IOS & Android
                    </h2>
                </div>
            </div>

            <div class="mx-auto footer-apps mt-2">
                <div class="w33 mt-2 hover-card-image">
                    <img src="../../../../../assets/icon/Frame 17.png" alt="">
                </div>
                <div class="w33 mt-2 hover-card-image">
                    <img src="../../../../../assets/icon/wpf_macos.png" alt="">
                </div>
                <div class="w33 mt-2 hover-card-image">
                    <img src="../../../../../assets/icon/Vector-1.png" alt="">
                </div>
                <div class="w33 mt-2 hover-card-image">
                    <img src="../../../../../assets/icon/ri_app-store-fill-1.png" alt="">
                </div>
                <div class="w33 mt-2 hover-card-image">
                    <img src="../../../../../assets/icon/mdi_linux.png" alt="">
                </div>
                <div class="w33 mt-2 hover-card-image">
                    <img src="../../../../../assets/icon/material-symbols_desktop-windows-1.png" alt="">
                </div>
            </div>

        </div>
    </section>
</div>
