<div class="w100">
    <img src="../../../../../assets/img/Group 2.png" class="w50">
</div>
<div class="text-white w100">
    <h1 class="title-1">
        Create a message to share <br>with your friends.
    </h1>
    <p style="font-size:medium;">
        Create your first message following the first step:
    </p>
</div>
<div class="flex-container text-white my-1">
    <div class="w20 px-1">
        <img src="../../../../../assets/img/Connected world-pana 2.png" class="w100" alt="">
    </div>
    <div class="w75 px-1">
        <p>Lorem provident fugit quaerat aliquid facilis dicta similique nisi ducimus commodi itaque, natus maiores, dignissimos ut rem veritatis.</p>
    </div>
</div>
<div class="flex-container text-white my-1">
    <div class="w25 px-1">
        <img src="../../../../../assets/img/Fashion blogging-pana 2.png" class="w100">
    </div>
    <div class="w75 px-1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum sapiente eius architecto, officiis omnis distinctio officia Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
</div>

<div class="flex-container mt-5 text-right dot2">
    <section class="w100">
        <div class="text-white w100">
            <h1 class="title-1">
                Create a message to share <br>with your friends.
            </h1>
            <p style="font-size: medium;">
                Create your first message following the first step:
            </p>
        </div>
        <div class="flex-container text-white my-1">
            <div class="w75 px-1">
                <p>provident fugit quaerat aliquid facilis dicta similique nisi ducimus commodi itaque, natus maiores, dignissimos ut rem veritatis.</p>
            </div>
            <div class="w25 px-1">
                <img src="../../../../../assets/img/Connected world-pana 1.png" class="w100">
            </div>
        </div>
        <div class="flex-container text-white my-1">
            <div class="w75 px-1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum sapiente eius architecto, officiis omnis distinctio officia Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet nihil</p>
            </div>
            <div class="w25 px-1">
                <img src="../../../../../assets/img/Fashion blogging-pana 1.png" class="w100">
            </div>
        </div>
    </section>
</div>

<div>
    <section class="w100 mt-5">
        <div class="card-qr">
            <div class="w25 ml-3">
                <img src="../../../../../assets/icon/pngwing 1.png" alt="" class="w100">
            </div>
            <div class="ml-1 w75">
                <h2>
                    Scan to download <br> IOS & Android
                </h2>
            </div>
        </div>

        <div class="mx-auto footer-apps mt-2">
            <div class="w33 hover-card-image">
                <img src="../../../../../assets/icon/Frame 18.png" alt="">
            </div>
            <div class="w33 hover-card-image">
                <img src="../../../../../assets/icon/Vector.png" alt="">
            </div>
            <div class="w33 hover-card-image">
                <img src="../../../../../assets/icon/ri_app-store-fill.png" alt="">
            </div>
            <div class="w33 hover-card-image">
                <img src="../../../../../assets/icon/material-symbols_desktop-windows.png" alt="">
            </div>
        </div>
        <div class="flex-container text-white flex-container-buttom">
            <div>
                <button class="btn-yellow" (click)="redirectToSignUp()">Sing Up</button>
            </div>
            <div>
                <button class="btn-dark" (click)="redirectToLognIn()">Logn In</button>
            </div>
        </div>
    </section>
</div>
